exportPattern("^[[:alpha:]]+")
import(Rcpp)
import(Matrix)
import(glmnet)
import(ncvreg)
import(hierNet)
import(sparsenet)
importFrom("caret","trainControl","train")
importFrom("stats", "median", "coef")
importFrom("Rcpp", "evalCpp"),
importFrom("utils", "setTxtProgressBar", "txtProgressBar")
useDynLib(glmcmenet, .registration = TRUE)
