exportPattern("^[[:alpha:]]+")
import(Rcpp)
import(glmnet)
import(ncvreg)
import(hierNet)
import(sparsenet)
importFrom("caret","trainControl","train")
importFrom("stats", "median")
importFrom("utils", "setTxtProgressBar", "txtProgressBar")
useDynLib(glmcmenet, .registration = TRUE)
